/*---------------------- 'Media Queries'-------------- */

/* 992- 1200px */
@media screen and (max-width: 1200px) {
  .container {
    width: 940px;
    position: relative;
  }
  .nav {
    position: absolute;
    top: 70px;
    left: 15%;
  } 
}
/* 768-992px */
@media screen and (max-width: 992px) {
  .container {
    width: 700px;
  }
  .nav {
    width: 100%;
    left: 5%;
  }
  .main_heading h1 {
    font-size: 30px;
  }
  .form {
    min-width: 700px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .inputs input {
    max-width: 163px;
  }
  .order {
    min-width: 163px;
  }
  .settlement_delivery li {
    width: 30%;
  }
}
/* 576-768px */
@media screen and (max-width: 768px) {
  .container {
    width: 520px;
  }
  .nav {
    text-align: center;
    width: 40%;
    left: 50%;
    transform: translate(-50%);
  }
  .menu {
    flex-direction: column;
  }
  .menu li:not(:last-child) {
    margin: 0 0 10px 0;
  }
  .main_heading p {
    font-size: 18px;
  }
  .main_heading h1 {
    font-size: 22px;
  }
  .form {
    min-width: 520px;
    padding: 15px 10px;
  }
  .form h4 {
    margin-bottom: 15px;
  }
  .inputs {
    display: contents;
  }
  .inputs input {
    max-width: 155px;
    margin-bottom: 10px;
  }
  .length, .avia, .auto, .shop, .bottom_left_corner {
    word-wrap: break-word;
  }
  
}
/* 320-576px  */
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
  .head {
    flex-direction: column;
  }
  .nav {
    text-align: center;
    width: 56%;
    left: 50%;
    transform: translate(-50%);
  }
  .menu li:not(:last-child) {
    margin-right: 0;
  }
  .button_call {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%);
  }
  .main_heading p {
    font-size: 15px;
    line-height: 13px;
  }
  .main_heading h1 {
    line-height: 26px;
  }
  .form {
    min-width: 288px;
    height: 100%;
    padding: 15px 15px;
  }
  h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .delivery {
    padding-bottom: 30px;
  }
  .how_much {
    margin-top: 50px;
  }
  .settlement_delivery {
    flex-direction: column;

  }
  .settlement_delivery li {
    width: 100%;
    margin:0 auto 20px;

  }
  .sale {
    text-align: left;
  }
  .percent {
    font-size: 16px;
    line-height: 28px;
    white-space: inherit;
  }
  .rectangle {
    position: absolute;
    top: 8%;
    left: 72%;
    height: 23px;
    padding: 3px 14px;
    font-size: 13px;
  }
  .soon {
    height: 156px;
  }
  .time {
    padding-top: 19px;
  }
  .reserved {
    flex-direction: column;
  }
  .reserved p {
    margin: 20px 0;
  }
}